* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --background-color: #1a1a1a;
    --text-color: #e0e0e0;
    background-color: var(--background-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: light) {
    --background-color: #f5f5f5;
    --text-color: #1a1a1a;
}